<!-- GLSL Gradient Component -->
<div class="glsl-gradient-container" data-gradient-container data-gradient-id="gradient-{{id}}">
  <canvas
    id="glsl-{{id}}"
    class="glsl-gradient-canvas"
    data-gradient-id="{{id}}"
    data-gradient="wrapper"
    data-multx="{{multx}}"
    data-multy="{{multy}}"
    data-hue="{{hue}}"
    data-brightness="{{brightness}}"
    data-mouse="{{mouse}}"
    data-scale="{{scale}}"
    data-scale2="{{scale2}}"
    data-noise="{{noise}}"
    data-time="{{time}}"
    data-bw="{{bw}}"
    data-bw2="{{bw2}}"
    data-red="{{red}}"
    data-green="{{green}}"
    data-blue="{{blue}}"
    data-red2="{{red2}}"
    data-green2="{{green2}}"
    data-blue2="{{blue2}}"
    style="display: block; width: 100%; height: 100%;"
  ></canvas>
</div>
