<article class="post-card"{{#if tags}} data-tag-slugs="{{#each tags}}{{slug}} {{/each}}"{{/if}}>
  <a href="{{url}}" class="post-card-link">
    {{#if feature_image}}
      <div class="post-card-image">
        <img src="{{feature_image}}" alt="{{title}}" loading="lazy">
      </div>
    {{/if}}

    <div class="post-card-content">
      <h2 class="post-card-title">{{title}}</h2>

      {{#if custom_excerpt}}
       <!--  <p class="post-card-excerpt">{{custom_excerpt}}</p> -->
      {{else}}
    <!--    <p class="post-card-excerpt">{{excerpt words="30"}}</p>-->
      {{/if}}

      <div class="post-card-meta">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}</time>
        {{#if @custom.show_reading_time}}
          {{#if reading_time}}
            <span class="reading-time">{{reading_time}} min read</span>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </a>
</article>
